<div class="card shadow p-4">
    <div class="card-header">
        <h1 class="card-title">Course List</h1>
    </div>

    <div class="card-body">

        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">
                Filter by:
            </label>
            <div class="col-sm-10">
                <input [(ngModel)]="filter" type="text" class="form-control">
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Image</th>
                    <th>Price</th>
                    <th>Realease Date</th>
                    <th>Rating</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let course of filteredCourses">
                    <td>{{course.id}}</td>
                    <td>{{course.name}}</td>
                    <td>{{course.code | replace: '-' : ' '}}</td>
                    <td><img src="{{course.imageUrl}}" width="40px" height="40px"></td>
                    <td>${{course.price}}</td>
                    <td>{{course.releaseDate | date: 'dd/MM/yyyy'}}</td>
                    <td>
                        <app-star [rating]="course.rating"></app-star>
                    </td>
                    <td>
                        <a [routerLink]="['/courses/info', course.id]" class="btn btn-primary">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>